<?xml version="1.0" encoding="utf-8"?>
<!-- SPDX-License-Identifier: GPL-3.0-or-later -->
<!-- Copyright (c) 2026 Valery Kustarev (https://github.com/radioacoustick) -->
<!--
  This XML resource is part of nec2core engine.
  Licensed under GNU GPL v3 or later.
  See the LICENSE file in the project root for details.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application>
        <service
            android:name=".NecCalculationService"
            android:process=":nec_engine_process"
            android:exported="false">
        </service>
    </application>

</manifest>